[run]
source = cyberfind
branch = True
omit =
    */tests/*
    */venv/*
    */__pycache__/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod
    if sys.version_info

precision = 2
skip_covered = False

[html]
directory = htmlcov
